
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

/* 
colors
brown = #A76542
grey...= #A9B3B4

*/

body{
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /*justify-content: left;*/
    padding: 0px 120px 110px;
    align-items: center;
}
 
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 5px;
}

.login-box .user-box{
    background: #A76542;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}

.login-box .user-box .fas{
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 11px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
input[type="password"]{
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    border-radius: 19px;
    outline: none;
    height: 40px;
    background: #A76542;
    color:#ffffff;
    font-size: 18px;
}

.login-box input[type="submit"]:hover{
    background: #A9B3B4;
    cursor: pointer;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}

.login-box a:hover{
    color: #A9B3B4;
}

.text-box{
 background: rgba(0,0,0,0.8);
 color: #ffffff;
 padding: 50px;
 border-radius: 5px;
 width:  500px;
 height: auto;
 position: absolute;
 top: 205px;
 left:calc(60% - 15px)
}

.text-box h4{
    font-style: italic;
}


/* Responsivité */

@media(max-width:360px){
    .text-box{
        background: rgba(0,0,0,0.8);
        color: #ffffff;
        /* padding: 50px; */
        border-radius: 5px;
        width:  100%;
        height: auto;
        position: absolute;
        /* top: 205px; */
        left:0px;
        margin-top: 270px;
       }
   
}

@media(min-width:361px) and (max-width:576px){
    .text-box{
        background: rgba(0,0,0,0.8);
        color: #ffffff;
        /* padding: 50px; */
        border-radius: 5px;
        width:  100%;
        height: auto;
        position: absolute;
        /* top: 205px; */
        left:0px;
        margin-top: 270px;
       }
}

@media(min-width:577px) and (max-width:768px){
    .text-box{
        background: rgba(0,0,0,0.8);
        color: #ffffff;
        /* padding: 50px; */
        border-radius: 5px;
        width:  100%;
        height: auto;
        position: absolute;
        /* top: 205px; */
        left:0px;
        margin-top: 270px;
       }
}

@media(min-width:768px) and (max-width:991px){
    .text-box{
        background: rgba(0,0,0,0.8);
        color: #ffffff;
        /* padding: 50px; */
        border-radius: 5px;
        width:  100%;
        height: auto;
        position: absolute;
        /* top: 205px; */
        left:0px;
        margin-top: 270px;
       }
}

@media(min-width:992px) and (max-width:1199px){
    .text-box{
        background: rgba(0,0,0,0.8);
        color: #ffffff;
        /* padding: 50px; */
        border-radius: 5px;
        width:  100%;
        height: auto;
        position: absolute;
        /* top: 205px; */
        left:0px;
        margin-top: 270px;
       }
}

/* Responsive login box */

@media(max-width:360px){
    .login-box{
        width: 420px;
        height: 420px;
        background: rgba(0,0,0,0.8);
        color: #ffffff;
       
        border-radius: 5px;
    }
   
}

@media(min-width:361px) and (max-width:576px){
    .login-box{
        width: 420px;
        height: 420px;
        background: rgba(0,0,0,0.8);
        color: #ffffff;
      
        border-radius: 5px;
    }
   
}

@media(min-width:577px) and (max-width:768px){
    .login-box{
        width: 420px;
        height: 420px;
        background: rgba(0,0,0,0.8);
        color: #ffffff;
       
        border-radius: 5px;
    }
   
}

@media(min-width:768px) and (max-width:991px){
    .login-box{
        width: 420px;
        height: 420px;
        background: rgba(0,0,0,0.8);
        color: #ffffff;
        
        border-radius: 5px;
    }
   
}

@media(min-width:992px) and (max-width:1199px){
    .login-box{
        width: 420px;
        height: 420px;
        background: rgba(0,0,0,0.8);
        color: #ffffff;
       
        border-radius: 5px;
    }
   
}
